<a href="https://colab.research.google.com/github/Andrewhana/Programming/blob/main/functions_empty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

define a function : **def** *name_of_the_funciton* **(** *parameter1, parameter2,* ...**) :**

call a function: ***name_of_the_function(parameter1, parameter2)***

In [ ]:
def print_params(param1, param2):
  print(param1, param2)

In [ ]:
print_params('b', 'c')

b c

In [ ]:
def return_param(param):
  return param

In [ ]:
return_param(4)

4

In [ ]:
x=return_param(3)

In [ ]:
print(x)

3

In [ ]:
def return_params (param1, param2):
  return param1, param2 #returns two values

In [ ]:
return_params(4,5)

(4, 5)

In [ ]:
x, y = return_params(40, 50) #I can assign the returned 2 values to TWO different variables

In [ ]:
print(y)

50

In [ ]:
result=return_params(3,4)
print(result) #even if the function returns 2 numbers, I can put them into ONE tuple by assigning the result to ONE variable

(3, 4)

In [ ]:
def add_nums(a, b):
  result = a + b
  return result

In [ ]:
add_nums(15, 20) #prints out the result if I do not assign a variable

35

In [ ]:
res = add_nums(20, 35) #stores the result if I assign a variable

In [ ]:
print(res)

55

In [ ]:
#add and substract the two numbers, return both
def calc(num1, num2):
  return (num1+num2, num1-num2) #can return "calculations" directly

In [ ]:
res = calc(4,5)
print(res)

(9, -1)

In [ ]:
??calc
#--> ask information about args, what does it return, what does it do etc.

In [ ]:
def calc1(num1, num2):
  """adds and substracts the two numbers"""
  return (num1+num2, num1-num2)

In [ ]:
calc1

So far we defined functions with exactly 1 or exactly 2 parameters (it could be any number)




--> when calling this function: it requires 2 parameters,

less parameters: not possible, more parameters: also not

### * operator: If we do not know in advance exactly how many parameters will the function have:
expects a list or any iterable object

In [ ]:
def myfunction(*args):
  for arg in args:
      print(arg) #just prints the given arguments

the * stands for the flexible number of arguments/parameters:

this * operator will unpack the list/tuple that the function got as parameter

In [ ]:
myfunction(6)

6

In [ ]:
myfunction(1,2)

1
2

In [ ]:
myfunction("a", "b", "c", "d")

a
b
c
d

In [ ]:
mylist=['apple', '1', "banana", "5"]

In [ ]:
myfunction(*mylist) #If the parameter of a function is defined as *args (flexible number of parameters), I can add an iterable as a parameter

apple
1
banana
5

In [ ]:

myfunction(mylist)

['apple', '1', 'banana', '5']

what is the difference between the previous two lines?

## Keyword-arguments: ** operator

In [ ]:
def funct(**kwargs):
 print(kwargs)

** stands for keyword arguments (kwargs): stores the parameters dictionary-like.

We need to provide the keywords (name of the parameters) to the function!

In [ ]:
funct(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#funct(1,2,3) #error

## Dictionaries

In [ ]:
building={"area": 82, "floors": 2, "garden": True, "price": 500000}

In [ ]:
print(building)
print(building['area'])

{'area': 82, 'floors': 2, 'garden': True, 'price': 500000}
82

In [ ]:
building.values()

dict_values([82, 2, True, 500000])

In [ ]:
building.keys()

dict_keys(['area', 'floors', 'garden', 'price'])

In [ ]:
#put these results in a dict:
#names: John,	Marie,	Emily,	David,	Brian,	Sarah,	George
#points: 10,	  5,	   15,	    9,	    6,	    11,	    14

In [ ]:
#points={'John':10, "Marie":5 ...}

In [ ]:
names=['John',	'Marie',	'Emily',	'David',	'Brian','Sarah','George']
results=[10,	  5,	   15,	    9,	    6,	    11,	    14]

In [ ]:
points={}

In [ ]:
#iterate through the names list then the results list
for name in names:
  print(name)

for result in results:
  print(result)

John
Marie
Emily
David
Brian
Sarah
George
10
5
15
9
6
11
14

In [ ]:
#put the two together:
for name,result in zip(names,results):
  points[name]=result

In [ ]:
points

{'John': 10,
 'Marie': 5,
 'Emily': 15,
 'David': 9,
 'Brian': 6,
 'Sarah': 11,
 'George': 14}

iterate through the elements of a dict: **for key, value in dict.items()** --> returns the (key, value) tuple for each element

In [ ]:
points.items()

dict_items([('John', 10), ('Marie', 5), ('Emily', 15), ('David', 9), ('Brian', 6), ('Sarah', 11), ('George', 14)])

In [ ]:
building.items()

dict_items([('area', 82), ('floors', 2), ('garden', True), ('price', 500000)])

In [ ]:
for k,v in building.items():
  print(k, ":", v)

area : 82
floors : 2
garden : True
price : 500000

In [ ]:
def f(**kwargs): #kwargs is a dictionary
  for k,v in kwargs.items():
    print(k,v)

In [ ]:
f(**points)

John 10
Marie 5
Emily 15
David 9
Brian 6
Sarah 11
George 14

# Tasks

Write a function that prints out the sum of the 2 parameters that it got!

In [ ]:
def

a) Write a function that returns the length of the hypotenuse of a right-angle triangle given the length of the legs!

b) Write another function that returns the area of this triangle (right-angle triangle given the length of the legs)!

c) (Store the results in a variable!) Calculate the altitude/height of the triangle (for the base of the hypotenuse)!

In [ ]:
import math

In [ ]:
hyp(3,4)

In [ ]:
area(3,4)

Write a function that returns the sum of the (flexible number of) parameters that it gets!

Write a function that prints out the value of the parameters with the corresponding keywords!

(Also test the function with a dictionary!)

In [ ]:
dictionary ={'param1':10, 'param2':3,'param3':50}

Store the heights in a dictinary!

In [ ]:
heights=[175,178,168,183,160,190,195,177,200,172,180]
names=["James","David","Olivia","Ben","Anna","Lucas","Greg","Elsa","George", "John","Nicole"]

In [ ]:
d={}
#TODO

Write a function to combine two dictionaries by adding the values for common keys!

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300, 'e':150, 'f':200}
d2 = {'a': 300, 'b': 200, 'd':400, 'e':200, 'g':300}

# Default parameters

In [ ]:
def building_price_calc(area, floors, rooms, garden=True, garage=0):
  print("area=", area, "floors=", floors, "rooms=", rooms,"garden=", garden,"garage=", garage)
  return area*3000+floors*4000+rooms*1000+garden*5000+garage*4000

In [ ]:
building_price_calc(120, 2, 3)

In [ ]:
building_price_calc(120,2,3,False)

In [ ]:
building_price_calc(120,2,3,0)

Actually we should verify the value of "garden" so it cannot be >1

In [ ]:
def building_price_calc(area, floors, rooms, garden=True, garage=0):
  if(garden==True or garden==False):
    print("area=", area, "floors=", floors, "rooms=", rooms,"garden=", garden,"garage=", garage)
    return area*3000+floors*4000+rooms*1000+garden*5000+garage*4000
  else:
    return "garden should be either True or False"

non-keyword argument (positional argument) cannot follow keyword argument

In [ ]:
#building_price_calc(area=120, 2, 3, 0) -- error
#keyword parameters can only come at the end, otherwise the order of parameters would be confusing for the program

In [ ]:
building_price_calc(area=120,rooms=2,floors=3,garden=0,garage=3)

## Excercises for practice:

Write a function that gets a year as a parameter and decides whether it is a leap year or not!

In [ ]:
def leapyear(year):

Write a function to print the even numbers from a given list.

Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]


Expected Result : [2, 4, 6, 8]

Try to do it with list comprehension as well!

Write a function that calculates how many days have already passed by the year given a date! The function should take 3 parameters: day, month, year (do not forget to check whether it is a leap year!)

Write a function to decide whether a number is a prime number!

Create a function show_employee() using the following conditions:

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

## Recursive functions

Define a function to calculate the factorial of a number with recursion!

Calculate the sum of the first n natural numbers!

## More excercises

Write a function that calculates the distance between two points in a coordinate system!

By using a function, calculate the circumference of a polygon in a coordinate system!
It is recommended to define a new function that accepts flexible number of points but uses the function defined above!

E.g.

function(...points...):

store points in a list - calculate the distance between the neighbours (previous function) and do not forget that the last one and the first one is also connected

Write a funciton to calculate the area of a regular polygon with n sides and with an *a* length of side!

Write a function to calculate the area of an n sided regular polynom that can be written in a circle with radius of *r*!

Help: calculate the angle, from there the area of a triangle is easy to calculate

![letöltés.jpg]()

Write a function to calculate the worth of our investment (Future Value) with compound interest (given the amount of the investment, the yearly interest rate(%), the number of times it's applied in a year, the number of years)! ![Képernyőkép 2024-04-10 195445.png]()

# Task

Write a function with flexible number of parameters that calculates how many centimeters the water level rises in a pool (20m * 10m  with a 1,5m water-level at the moment) if we drop objects from the given material inside it! The arguments should be: the name of the material and its mass (in kg).

"density" dictionary contains the densities of the materials in kg/m^3


e.g.: f(aluminium= 15, asphalt= 20, concrete= 10, etc.)

In [ ]:
density={"aluminium": 2700, "asphalt": 2120, "concrete": 2200, "copper": 8300, "granite":2200, "iron": 7272, "plexiglas":1180}
#if you want, you can add more materials to the dictionary
# https://amesweb.info/Materials/Density-Materials.aspx

In [ ]:
#adding a new element simply by: dict[key]=value
density["silicon"]= 2230
density

V=mass/density

In [ ]:
#TODO
def level_rise ():

In [ ]:
level_rise(aluminium= 150, asphalt= 200, concrete= 10)